In [ ]:
import os
import warnings
warnings.simplefilter(action = 'ignore', category=FutureWarning)
warnings.filterwarnings('ignore')
def ignore_warn(*args, **kwargs):
    pass
warnings.warn = ignore_warn #ignore annoying warning (from sklearn and seaborn)
import pandas as pd
import numpy as np
import time
from sklearn.model_selection import train_test_split
from scipy.sparse import coo_matrix
import math as mt
from scipy.sparse.linalg import * #used for matrix multiplication
from scipy.sparse.linalg import svds
from scipy.sparse import csc_matrix
from scipy.stats import skew, norm, probplot
import seaborn as sns

# **Load Dataset**

In [ ]:
triplets_file = 'https://static.turi.com/datasets/millionsong/10000.txt'
songs_metadata_file= 'https://static.turi.com/datasets/millionsong/song_data.csv'

In [ ]:
count_play_df = pd.read_table(triplets_file,header=None)
count_play_df.columns = ['user', 'song', 'play_count']

In [ ]:
track_metadata_df = pd.read_csv(songs_metadata_file)

In [ ]:
print('First see of track metadata:')
print('Number of rows:', track_metadata_df.shape[0])
print('Number of unique songs:', len(track_metadata_df.song_id.unique()))
display(track_metadata_df.head())
print('Note the problem with repeated track metadata. Let\'s see of counts play song by users:')
display(count_play_df.shape, count_play_df.head())

First see of track metadata:
Number of rows: 1000000
Number of unique songs: 999056

              song_id              title  ...       artist_name  year
0  SOQMMHC12AB0180CB8       Silent Night  ...  Faster Pussy cat  2003
1  SOVFVAK12A8C1350D9        Tanssi vaan  ...  Karkkiautomaatti  1995
2  SOGTUKN12AB017F4F1  No One Could Ever  ...    Hudson Mohawke  2006
3  SOBNYVR12A8C13558C      Si Vos Querés  ...       Yerba Brava  2003
4  SOHSBXH12A8C13B0DF   Tangle Of Aspens  ...        Der Mystic     0

[5 rows x 5 columns]

Note the problem with repeated track metadata. Let's see of counts play song by users:

(2000000, 3)

                                       user                song  play_count
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAKIMP12A8C130995           1
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBBMDR12A8C13253B           2
2  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBXHDL12A81C204C0           1
3  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBYHAJ12A6701BF1D           1
4  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SODACBL12A8C13C273           1

In [ ]:
unique_track_metadata_df = track_metadata_df.groupby('song_id').max().reset_index()

print('Number of rows after unique song Id treatment:', unique_track_metadata_df.shape[0])
print('Number of unique songs:', len(unique_track_metadata_df.song_id.unique()))
display(unique_track_metadata_df.head())

Number of rows after unique song Id treatment: 999056
Number of unique songs: 999056

              song_id                            title  ...      artist_name  year
0  SOAAABI12A8C13615F                     Afro Jazziac  ...      Herbie Mann  2000
1  SOAAABT12AC46860F0  Herre Gud Ditt Dyre Namn Og Ære  ...  Bergen Big Band     0
2  SOAAABX12A8C13FEB2                     N.Y.C. Remix  ...         Guardner     0
3  SOAAACR12A58A79456                     Irresistible  ...      Superchumbo  2002
4  SOAAACY12A58A79663                       Untitled 1  ...            Thuja     0

[5 rows x 5 columns]

In [ ]:
user_song_list_count = pd.merge(count_play_df, 
                                unique_track_metadata_df, how='left', 
                                left_on='song', 
                                right_on='song_id')
user_song_list_count.rename(columns={'play_count':'listen_count'},inplace=True)
del(user_song_list_count['song_id'])

# **Data Analysis**

In [ ]:
display(user_song_list_count.head())
user_song_list_count.listen_count.describe().reset_index().T

                                       user  ...  year
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...     0
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...  1976
2  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...  2007
3  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...  2005
4  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...  1999

[5 rows x 7 columns]

                  0        1        2    3    4    5    6     7
index         count     mean      std  min  25%  50%  75%   max
listen_count  2e+06  3.04548  6.57972    1    1    1    3  2213

In [ ]:
print('{:d} users, {:.2%} of total play counts, listening a single more than 200 times'.format(
    count_play_df.user[count_play_df.play_count>200].unique().shape[0],
    count_play_df.play_count[count_play_df.play_count>200].count()/count_play_df.shape[0]))
display(count_play_df.play_count[count_play_df.play_count>200].describe().reset_index().T)

118 users, 0.01% of total play counts, listening a single more than 200 times

                0        1        2    3    4    5       6     7
index       count     mean      std  min  25%  50%     75%   max
play_count    140  327.107  209.115  201  225  267  353.75  2213

# **Popularity based system**

In [ ]:
class popularity_recommender_py():
    def __init__(self):
        self.train_data = None
        self.user_id = None
        self.item_id = None
        self.popularity_recommendations = None
    def create(self, train_data, user_id, item_id):
        self.train_data = train_data
        self.user_id = user_id
        self.item_id = item_id

        train_data_grouped = train_data.groupby([self.item_id]).agg({self.user_id: 'count'}).reset_index()
        train_data_grouped.rename(columns = {'user_id': 'score'},inplace=True)
        train_data_sort = train_data_grouped.sort_values(['score', self.item_id], ascending = [0,1])
        train_data_sort['Rank'] = train_data_sort['score'].rank(ascending=0, method='first')
        self.popularity_recommendations = train_data_sort.head(10)
    def recommend(self, user_id):    
        user_recommendations = self.popularity_recommendations
        user_recommendations['user_id'] = user_id
        cols = user_recommendations.columns.tolist()
        cols = cols[-1:] + cols[:-1]
        user_recommendations = user_recommendations[cols]
        return user_recommendations

In [ ]:
def create_popularity_recommendation(train_data, user_id, item_id, n=10):
    #Get a count of user_ids for each unique song as recommendation score
    train_data_grouped = train_data.groupby([item_id]).agg({user_id: 'count'}).reset_index()
    train_data_grouped.rename(columns = {user_id: 'score'},inplace=True)
    
    #Sort the songs based upon recommendation score
    train_data_sort = train_data_grouped.sort_values(['score', item_id], ascending = [0,1])
    
    #Generate a recommendation rank based upon score
    train_data_sort['Rank'] = train_data_sort.score.rank(ascending=0, method='first')
        
    #Get the top n recommendations
    popularity_recommendations = train_data_sort.head(n)
    return popularity_recommendations

In [ ]:
recommendations = create_popularity_recommendation(user_song_list_count,'user','title', 15)
display(recommendations)

                                                  title  score  Rank
6837                                      Sehr kosmisch   8277   1.0
8726                                               Undo   7032   2.0
1965                     Dog Days Are Over (Radio Edit)   6949   3.0
9497                                     You're The One   6729   4.0
6499                                            Revelry   6145   5.0
6826                                            Secrets   5841   6.0
3438  Horn Concerto No. 4 in E flat K495: II. Romanc...   5385   7.0
2596                                          Fireflies   4795   8.0
3323                                   Hey_ Soul Sister   4758   9.0
8495                                           Tive Sim   4548  10.0
8781                                       Use Somebody   3976  11.0
5721                                                OMG   3947  12.0
2120                                     Drop The World   3879  13.0
5000                                           Marry Me   3578  14.0
1265                                             Canada   3526  15.0

In [ ]:
display(create_popularity_recommendation(user_song_list_count,'user','artist_name', 10))

                 artist_name  score  Rank
649                 Coldplay  29422   1.0
2850          The Black Keys  19862   2.0
1651           Kings Of Leon  18747   3.0
1107  Florence + The Machine  18112   4.0
1370            Jack Johnson  17801   5.0
2946             The Killers  16063   6.0
2374               Radiohead  14890   7.0
736                Daft Punk  14715   8.0
2073                    Muse  14005   9.0
1554           Justin Bieber  13959  10.0

# **Collaborative Filtering**

**Find Similar Songs**

In [ ]:

class item_similarity_recommender_py():
    def __init__(self):
        self.train_data = None
        self.user_id = None
        self.item_id = None
        self.cooccurence_matrix = None
        self.songs_dict = None
        self.rev_songs_dict = None
        self.item_similarity_recommendations = None
        
    def get_user_items(self, user):
        user_data = self.train_data[self.train_data[self.user_id] == user]
        user_items = list(user_data[self.item_id].unique())
        return user_items
        
    def get_item_users(self, item):
        item_data = self.train_data[self.train_data[self.item_id] == item]
        item_users = set(item_data[self.user_id].unique())
        return item_users
        
    def get_all_items_train_data(self):
        all_items = list(self.train_data[self.item_id].unique())
        return all_items

    def construct_cooccurence_matrix(self, user_songs, all_songs):
        user_songs_users = []        
        for i in range(0, len(user_songs)):
            user_songs_users.append(self.get_item_users(user_songs[i])) 
        cooccurence_matrix = np.matrix(np.zeros(shape=(len(user_songs), len(all_songs))), float)
        for i in range(0,len(all_songs)):
            songs_i_data = self.train_data[self.train_data[self.item_id] == all_songs[i]]
            users_i = set(songs_i_data[self.user_id].unique())
            for j in range(0,len(user_songs)):       
                users_j = user_songs_users[j]
                users_intersection = users_i.intersection(users_j)
                if len(users_intersection) != 0:
                    users_union = users_i.union(users_j)
                    cooccurence_matrix[j,i] = float(len(users_intersection))/float(len(users_union))
                else:
                    cooccurence_matrix[j,i] = 0
        return cooccurence_matrix

    def generate_top_recommendations(self, user, cooccurence_matrix, all_songs, user_songs):
        print("Non zero values in cooccurence_matrix :%d" % np.count_nonzero(cooccurence_matrix))
        user_sim_scores = cooccurence_matrix.sum(axis=0)/float(cooccurence_matrix.shape[0])
        user_sim_scores = np.array(user_sim_scores)[0].tolist()
        sort_index = sorted(((e,i) for i,e in enumerate(list(user_sim_scores))), reverse=True)
        columns = ['user_id', 'song', 'score', 'rank']
        df = pd.DataFrame(columns=columns)
        rank = 1 
        for i in range(0,len(sort_index)):
            if ~np.isnan(sort_index[i][0]) and all_songs[sort_index[i][1]] not in user_songs and rank <= 10:
                df.loc[len(df)]=[user,all_songs[sort_index[i][1]],sort_index[i][0],rank]
                rank = rank+1

        if df.shape[0] == 0:
            print("The current user has no songs for training the item similarity based recommendation model.")
            return -1
        else:
            return df
    def create(self, train_data, user_id, item_id):
        self.train_data = train_data
        self.user_id = user_id
        self.item_id = item_id

    def recommend(self, user):
        user_songs = self.get_user_items(user)    
        print("No. of unique songs for the user: %d" % len(user_songs))
        all_songs = self.get_all_items_train_data()
        print("no. of unique songs in the training set: %d" % len(all_songs))
        cooccurence_matrix = self.construct_cooccurence_matrix(user_songs, all_songs)
        df_recommendations = self.generate_top_recommendations(user, cooccurence_matrix, all_songs, user_songs)
        return df_recommendations
    def get_similar_items(self, item_list):
        user_songs = item_list
        all_songs = self.get_all_items_train_data()
        print("no. of unique songs in the training set: %d" % len(all_songs))
        cooccurence_matrix = self.construct_cooccurence_matrix(user_songs, all_songs)
        user = ""
        df_recommendations = self.generate_top_recommendations(user, cooccurence_matrix, all_songs, user_songs)
        return df_recommendations

In [ ]:
total_play_count = sum(user_song_list_count.listen_count)
play_count = user_song_list_count[['song', 'listen_count']].groupby('song').sum().\
             sort_values(by='listen_count',ascending=False).head(5000)

print('5,000 most popular songs represents {:3.2%} of total listen.'.format(float(play_count.sum())/total_play_count))

song_subset = list(play_count.index[:5000])
user_subset = list(user_song_list_count.loc[user_song_list_count.song.isin(song_subset), 'user'].unique())
user_song_list_count_sub = user_song_list_count[user_song_list_count.song.isin(song_subset)]
display(user_song_list_count_sub.head())

5,000 most popular songs represents 81.88% of total listen.

                                       user  ...  year
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...     0
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...  1976
2  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...  2007
3  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...  2005
4  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...  1999

[5 rows x 7 columns]

In [ ]:
is_model = item_similarity_recommender_py()
is_model.create(user_song_list_count_sub, 'user', 'title')
user_id = list(user_song_list_count_sub.user)[7]
user_items = is_model.get_user_items(user_id)

#Recommend songs for the user using personalized model
is_model.recommend(user_id)

No. of unique songs for the user: 33
no. of unique songs in the training set: 4867
Non zero values in cooccurence_matrix :120655

                                    user_id  ... rank
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...    1
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...    2
2  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...    3
3  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...    4
4  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...    5
5  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...    6
6  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...    7
7  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...    8
8  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...    9
9  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...   10

[10 rows x 4 columns]

In [ ]:
display(user_song_list_count_sub[(user_song_list_count_sub.user==user_id) & (user_song_list_count_sub.listen_count>5)])

                                        user  ...  year
16  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...     0
43  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...  2003

[2 rows x 7 columns]

 **Compute svd**

In [ ]:
def compute_svd(urm, K):
    U, s, Vt = svds(urm, K)

    dim = (len(s), len(s))
    S = np.zeros(dim, dtype=np.float32)
    for i in range(0, len(s)):
        S[i,i] = mt.sqrt(s[i])

    U = csc_matrix(U, dtype=np.float32)
    S = csc_matrix(S, dtype=np.float32)
    Vt = csc_matrix(Vt, dtype=np.float32)
    
    return U, S, Vt

def compute_estimated_matrix(urm, U, S, Vt, uTest, K, test):
    rightTerm = S*Vt 
    max_recommendation = 250
    estimatedRatings = np.zeros(shape=(MAX_UID, MAX_PID), dtype=np.float16)
    recomendRatings = np.zeros(shape=(MAX_UID,max_recommendation ), dtype=np.float16)
    for userTest in uTest:
        prod = U[userTest, :]*rightTerm
        estimatedRatings[userTest, :] = prod.todense()
        recomendRatings[userTest, :] = (-estimatedRatings[userTest, :]).argsort()[:max_recommendation]
    return recomendRatings

def show_recomendations(uTest, num_recomendations = 10):
    for user in uTest:
        print('-'*70)
        print("Recommendation for user id {}".format(user))
        rank_value = 1
        i = 0
        while (rank_value <  num_recomendations + 1):
            so = uTest_recommended_items[user,i:i+1][0]
            if (small_set.user[(small_set.so_index_value == so) & (small_set.us_index_value == user)].count()==0):
                song_details = small_set[(small_set.so_index_value == so)].\
                    drop_duplicates('so_index_value')[['title','artist_name']]
                print("The number {} recommended song is {} BY {}".format(rank_value, 
                                                                      list(song_details['title'])[0],
                                                                      list(song_details['artist_name'])[0]))
                rank_value+=1
            i += 1

In [ ]:
user_song_list_listen = user_song_list_count[['user','listen_count']].groupby('user').sum().reset_index()
user_song_list_listen.rename(columns={'listen_count':'total_listen_count'},inplace=True)
user_song_list_count_merged = pd.merge(user_song_list_count,user_song_list_listen)
user_song_list_count_merged['fractional_play_count'] = \
    user_song_list_count_merged['listen_count']/user_song_list_count_merged['total_listen_count']

display(user_song_list_count_merged[user_song_list_count_merged.user =='d6589314c0a9bcbca4fee0c93b14bc402363afea']\
        [['user','song','listen_count','fractional_play_count']].head())

                                         user  ... fractional_play_count
299  d6589314c0a9bcbca4fee0c93b14bc402363afea  ...              0.038961
300  d6589314c0a9bcbca4fee0c93b14bc402363afea  ...              0.003247
301  d6589314c0a9bcbca4fee0c93b14bc402363afea  ...              0.003247
302  d6589314c0a9bcbca4fee0c93b14bc402363afea  ...              0.003247
303  d6589314c0a9bcbca4fee0c93b14bc402363afea  ...              0.022727

[5 rows x 4 columns]

In [ ]:
user_codes = user_song_list_count_merged.user.drop_duplicates().reset_index()
user_codes.rename(columns={'index':'user_index'}, inplace=True)
user_codes['us_index_value'] = list(user_codes.index)

song_codes = user_song_list_count_merged.song.drop_duplicates().reset_index()
song_codes.rename(columns={'index':'song_index'}, inplace=True)
song_codes['so_index_value'] = list(song_codes.index)

small_set = pd.merge(user_song_list_count_merged,song_codes,how='left')
small_set = pd.merge(small_set,user_codes,how='left')
mat_candidate = small_set[['us_index_value','so_index_value','fractional_play_count']]

data_array = mat_candidate.fractional_play_count.values
row_array = mat_candidate.us_index_value.values
col_array = mat_candidate.so_index_value.values

data_sparse = coo_matrix((data_array, (row_array, col_array)),dtype=float)

display(data_sparse)

print('User used to performed the content based recommendations earlie:.')
display(user_codes[user_codes.user =='b80344d063b5ccb3212f76538f3d9e43d87dca9e'])

<76353x10000 sparse matrix of type '<class 'numpy.float64'>'
	with 2000000 stored elements in COOrdinate format>

User used to performed the content based recommendations earlie:.

   user_index                                      user  us_index_value
0           0  b80344d063b5ccb3212f76538f3d9e43d87dca9e               0

In [ ]:
K = 50
urm = data_sparse
MAX_PID = urm.shape[1]
MAX_UID = urm.shape[0]

U, S, Vt = compute_svd(urm, K)
uTest = [4,5,6,7,8,873,23]

uTest_recommended_items = compute_estimated_matrix(urm, U, S, Vt, uTest, K, True)

show_recomendations(uTest)

----------------------------------------------------------------------
Recommendation for user id 4
The number 1 recommended song is 911 BY Wyclef Jean / Mary J. Blige
The number 2 recommended song is If I Ain't Got You BY Alicia Keys
The number 3 recommended song is Sample Track 2 BY Simon Harris
The number 4 recommended song is Kennedy Rag BY Suzy Thompson
The number 5 recommended song is Clocks BY Coldplay
The number 6 recommended song is Yellow BY Coldplay
The number 7 recommended song is Hey_ Soul Sister BY Train
The number 8 recommended song is The Scientist BY Coldplay
The number 9 recommended song is Eco BY Jorge Drexler
The number 10 recommended song is Kryptonite BY 3 Doors Down
----------------------------------------------------------------------
Recommendation for user id 5
The number 1 recommended song is Eenie Meenie BY Sean Kingston and Justin Bieber
The number 2 recommended song is Sample Track 2 BY Simon Harris
The number 3 recommended song is U Smile BY Justin Bieber
The number 4 recommended song is Love Me BY Justin Bieber
The number 5 recommended song is One Time BY Justin Bieber
The number 6 recommended song is That Should Be Me BY Justin Bieber
The number 7 recommended song is Teach Me How To Dougie BY California Swag District
The number 8 recommended song is The Gift BY Angels and Airwaves
The number 9 recommended song is Kennedy Rag BY Suzy Thompson
The number 10 recommended song is One Less Lonely Girl BY Justin Bieber
----------------------------------------------------------------------
Recommendation for user id 6
The number 1 recommended song is Pursuit Of Happiness (nightmare) BY Kid Cudi / MGMT / Ratatat
The number 2 recommended song is The Scientist BY Coldplay
The number 3 recommended song is Lucky (Album Version) BY Jason Mraz & Colbie Caillat
The number 4 recommended song is Vanilla Twilight BY Owl City
The number 5 recommended song is Bleed It Out [Live At Milton Keynes] BY Linkin Park
The number 6 recommended song is The Only Exception (Album Version) BY Paramore
The number 7 recommended song is All The Right Moves BY OneRepublic
The number 8 recommended song is Forever BY Drake / Kanye West / Lil Wayne / Eminem
The number 9 recommended song is Love Story BY Taylor Swift
The number 10 recommended song is Heartbreak Warfare BY John Mayer
----------------------------------------------------------------------
Recommendation for user id 7
The number 1 recommended song is Lucky (Album Version) BY Jason Mraz & Colbie Caillat
The number 2 recommended song is Fix You BY Coldplay
The number 3 recommended song is Use Somebody BY Kings Of Leon
The number 4 recommended song is Shiver BY Coldplay
The number 5 recommended song is Don't Panic BY Coldplay
The number 6 recommended song is Heartbreak Warfare BY John Mayer
The number 7 recommended song is Sparks BY Coldplay
The number 8 recommended song is Pursuit Of Happiness (nightmare) BY Kid Cudi / MGMT / Ratatat
The number 9 recommended song is Uprising BY Muse
The number 10 recommended song is Bitter Sweet Symphony BY The Verve
----------------------------------------------------------------------
Recommendation for user id 8
The number 1 recommended song is Alejandro BY Lady GaGa
The number 2 recommended song is Dog Days Are Over (Radio Edit) BY Florence + The Machine
The number 3 recommended song is Just Dance BY Lady GaGa / Colby O'Donis
The number 4 recommended song is Billionaire [feat. Bruno Mars]  (Explicit Album Version) BY Travie McCoy
The number 5 recommended song is Sample Track 2 BY Simon Harris
The number 6 recommended song is OMG BY Usher featuring will.i.am
The number 7 recommended song is Greece 2000 BY Three Drives
The number 8 recommended song is Clocks BY Coldplay
The number 9 recommended song is I Gotta Feeling BY Black Eyed Peas
The number 10 recommended song is Livin' On A Prayer BY Bon Jovi
----------------------------------------------------------------------
Recommendation for user id 873
The number 1 recommended song is Dead Souls (LP Version) BY Nine Inch Nails
The number 2 recommended song is Canada BY Five Iron Frenzy
The number 3 recommended song is Behind The Sea [Live In Chicago] BY Panic At The Disco
The number 4 recommended song is Sample Track 2 BY Simon Harris
The number 5 recommended song is Creep (Explicit) BY Radiohead
The number 6 recommended song is Home BY Edward Sharpe & The Magnetic Zeros
The number 7 recommended song is Kryptonite BY 3 Doors Down
The number 8 recommended song is Without Me BY Eminem
The number 9 recommended song is Paradise City BY Guns N' Roses
The number 10 recommended song is Livin' On A Prayer BY Bon Jovi
----------------------------------------------------------------------
Recommendation for user id 23
The number 1 recommended song is Pursuit Of Happiness (nightmare) BY Kid Cudi / MGMT / Ratatat
The number 2 recommended song is Day 'N' Nite BY Kid Cudi Vs Crookers
The number 3 recommended song is I Gotta Feeling BY Black Eyed Peas
The number 4 recommended song is Imma Be BY Black Eyed Peas
The number 5 recommended song is Teach Me How To Dougie BY California Swag District
The number 6 recommended song is Sexy Bitch BY DJ Dizzy
The number 7 recommended song is Use Somebody BY Kings Of Leon
The number 8 recommended song is Yeah! BY Usher Featuring Lil' Jon & Ludacris
The number 9 recommended song is Nothin' On You [feat. Bruno Mars] (Album Version) BY B.o.B
The number 10 recommended song is Bulletproof BY La Roux

In [ ]:
uTest = [1724]

print("Predictied ratings:")
uTest_recommended_items = compute_estimated_matrix(urm, U, S, Vt, uTest, K, True)
show_recomendations(uTest)

Predictied ratings:
----------------------------------------------------------------------
Recommendation for user id 1724
The number 1 recommended song is OMG BY Usher featuring will.i.am
The number 2 recommended song is Crossfire BY Rick Cua
The number 3 recommended song is Cosmic Love BY Florence + The Machine
The number 4 recommended song is You've Got The Love BY Florence + The Machine
The number 5 recommended song is Drop The World BY Lil Wayne / Eminem
The number 6 recommended song is Day 'N' Nite BY Kid Cudi Vs Crookers
The number 7 recommended song is Secrets BY OneRepublic
The number 8 recommended song is Victoria (LP Version) BY Old 97's
The number 9 recommended song is Use Somebody BY Kings Of Leon
The number 10 recommended song is Sample Track 2 BY Simon Harris